<div class="container nav-padding">

<h1> Hello  <%= @user.email %> , this is your private page</h1>

<% unless @products.nil? %>
<ul>
  <% @products.each do |product| %>
    <li><%= cl_image_tag product.photo, width: 350, height: 300, crop: :fill %></li>
    <li><%= product.title %></li>
    <li><%= product.brand %></li>
    <li><%= product.seller %></li>
    <li><%= product.price %></li>
    <li><%= product.description %></li>
    <%= button_to "Delete Product", product_path(product), method: :delete, data: { confirm: "Are you sure" }, class: "btn btn-danger" %>

    <li>
    <div class="like-button-<%= product.id %>">
      <% if product.likes.where(user: @user).empty? %>
        <%= render partial: "likes/like", locals: {
          product: product
        } %>

      <% else %>
        <%= render partial: "likes/unlike", locals: {
          product: product,
          like: product.likes.find_by_user_id(current_user.id)
        } %>
      <% end %>
    </div>
    </li>

<% end %>

</ul>

<% end %>
</div>
