<div class="container profile-flex nav-padding profile-private">
  <div class="user-info" id="<%= current_user.id %>">
    <div class="profile-user-card profile-headline">
      <div class="d-flex justify-content-center">
      <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :fill, class: "profile-about-avatar" %>
      </div>
       <h3>
        <span class="profile-headline-highlight"><%= @user.first_name %></span>
        <span class="profile-headline-highlight"><%= @user.last_name %></span>
       </h3>
      <div class="profile-user-content">
        <h5> <%= @user.creator_type %></h5>
        <p class= ""> <%= @user.description %></p>

          <div class="profile-social-media">
            <a href="#"><i class="fab fa-youtube"></i></a></li>
            <a href="#"><i class="fab fa-instagram"></i></a></li>
            <a href="#"><i class="fab fa-twitter"></i></a></li>
            <a href="#"><i class="fab fa-facebook"></i></a></li>
          </div>

      </div>
      <div class="profile-headline profile-share-url">
       <h4>
         <span class="profile-url-highlight">Share your store</span>
         <span class="profile-url-highlight"><a href="/<%= @user.store_url %>">hiive.buzz/<%= @user.store_url %></a></span>
        </h4>
      </div>
   </div>
  </div>
  <div class="user-center">
    <div class="container">
      <div class="row" id="api-refresh">
      <!-- API call via the above id="api-refresh" -->
      </div>
  </div>
</div>
