<div class="container profile-flex nav-padding">

  <div class="user-info user-info-left">
      <div class="profile-user-card profile-headline">
        <h3> <span class="profile-headline-highlight"> creator </span></h3>
        <div class="d-flex justify-content-center">
        <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :fill, class: "profile-about-avatar" %>
        </div>

        <div class="hiive-card-content">
         <h2 class="text-center mt-3"> <%= @user.first_name %> <%= @user.last_name %> </h2>
         <p class= "user-description"> <%= @user.description %></p>
        <p>Products: <%= @user.products.count %></p>
        <p> Reviews: <%= @user.reviews.count %></p>
        <p>Likes: <%= @user.likes.count %></p>
        <p> Follow here: </p>

      </div>
     </div>
  </div>

  <div class="user-center">

    <div class="container">
      <div class="row">

       <% @products.each do |product| %>
          <div class="col-4 hiive-card-container">

          <div class="hiive-card">

          <%#= cl_image_tag product.photo, width: 250, height: 250, crop: :fill, class: 'images-prod' %>

          <div class="hiive-card-photo" style="background-image: url(<%= product.photo %>)";>
          </div>

          <div class="hiive-card-content">
          <p class="hiive-card-title"><%= product.title.truncate(70)%></p>
          <p class="hiive-card-price"><%= product.price %></p>
          </div>
          </div>
            <%= button_to "more info", product_path(product), method: :get, class: 'col-6 hiive-card-btn hiive-card-btn-left' %>
            <%= button_to "remove", product_path(product), method: :delete, data: { confirm: "Erm... are you sure?" }, class: "col-6 hiive-card-btn hiive-card-btn-right hiive-card-btn-delete" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
<!--
function timedRefresh(timeoutPeriod) {
  setTimeout("location.reload(true);",timeoutPeriod);
}

window.onload = timedRefresh(2000);

//   -->
</script>
