<div class="container nav-padding everything-in-middle">

  <div class="">
    <h1 class="search-headline mb-5">
    say hello to the<br>
    <span class="search-headline-highlight">world's best creators</span>
  </h1>
  </div>

  <div class="display-grid-creators">
    <% @profiles.each do |profile| %>
      <%= link_to "#{profile.store_url}" do %>
        <div class="profile-user-card-creators profile-headline">
          <!-- <h3> <span class="profile-headline-highlight"> creator </span></h3> -->
          <%= cl_image_tag profile.photo, width: 200, height: 200, crop: :fill, class: "profile-about-avatar" %>
          <h3>
            <span class="profile-headline-highlight-discover"><%= profile.first_name %></span></br>
            <span class="profile-headline-highlight-discover"><%= profile.last_name %></span></br>
            <div class="adding-margin-creators">
              <span><%= profile.creator_type %></span>
            </div>
          </h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
