<div class="container profile-flex nav-padding">

  <div class="user-info user-info-left">
      <div class="profile-user-card profile-headline">
        <!-- <h3> <span class="profile-headline-highlight"> creator </span></h3> -->
        <div class="d-flex justify-content-center">
        <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :fill, class: "profile-about-avatar" %>
        </div>
        <h3>
          <span class="profile-headline-highlight"><%= @user.first_name %></span>
          <span class="profile-headline-highlight"><%= @user.last_name %></span>
        </h3>
        <div class="profile-user-content">
        <h5> <%= @user.creator_type %></h5>
        <p class= ""> <%= @user.description %></p>
         <!-- <p class="profile-user-content-highlight">Products: <%= @user.products.count %></p>
        <p class="profile-user-content-highlight">Reviews: <%= @user.reviews.count %></p>
        <p class="profile-user-content-highlight">Likes: <%= @user.likes.count %></p> -->
        </div>
     </div>
  </div>

  <div class="user-center">

    <div class="container">
      <div class="row">

       <% @products.each do |product| %>
          <div class="col-3 hiive-card-container">

          <div class="hiive-card">

          <div class="hiive-card-photo" style="background-image: url(<%= product.photo %>)">
          </div>

          <div class="hiive-card-content">
          <p class="hiive-card-title"><%= product.title.truncate(67)%></p>
          <div class="d-flex justify-content-between">

          <% if product.user != current_user%>
          <div class="like-button-<%= product.id %>">

            <% if product.likes.where(user: @current).empty? %>

              <%= render partial: "likes/like", locals: {
                product: product
              } %>

            <% else %>
              <%= render partial: "likes/unlike", locals: {
                product: product,
                like: product.likes.find_by_user_id(current_user.id)
              } %>
            <% end %>
          </div>
          <% else %>
            <div></div>
          <% end %>
          <p class="hiive-card-price"><%= product.price == '' ? 'currently unavailable' : product.price %></p>
          </div>
          </div>
          </div>
            <%= button_to "buy", product.referal_link, class: 'col-6 hiive-card-btn hiive-card-btn-left' %>
            <%= button_to "more info", product_path(product), method: :get, class: 'col-6 hiive-card-btn hiive-card-btn-right' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

