
<div class=“container nav-padding”>
  <header>
    <div class="header-inner">
      <%= link_to root_path do %>
      <%= image_tag "logo/bee.png", class: "brand" %>
      <% end %>

      <div class="navigation">

        <div class="dropdown show">
          <%= link_to "browse", products_path, class: "nav-scroll"  %>
          <%= link_to "creators", creators_path, class: "nav-scroll"  %>
          <%= link_to "discover", discover_path, class: "nav-scroll"  %>

          <% if user_signed_in? %>

          <%= link_to "add product", new_product_path, class: "nav-scroll"  %>

          <a class="nav-scroll dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="avatar dropdown-toggle user-avatar" src=<%= current_user.photo %> /></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "view profile", private_profile_path, class: "dropdown-item" %>
              <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
            <% else %>
            <%= link_to "sign in", new_user_session_path, class: "nav-scroll nav-sign-in-padding" %>
            </div>
            <% end %>
          </a>
        </div>
      </div>
    </div>
  </header>
</div>

