<div class=" nav-padding allpage">
  <div class=" container category-cards-middle">
    <div class="title-categories">
        <span class="title-aligned">top categories</span>
    </div>
    <div class="cards display-of-cards">
        <%= link_to "products?cat=Photography" do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/photography-category.jpg") %>')">
                Photography
            </div>
        <% end %>

        <%= link_to "products?cat=sneakers" do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/sneakers.jpg") %>')">
                Sneakers
            </div>
        <% end %>

        <%= link_to "products?cat=cycling" do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/cycling-category.jpg") %>')">
                Cycling
            </div>
        <% end %>

        <%= link_to "products?cat=clothing" do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/clothing-category.jpg") %>')">
                Clothing
            </div>
        <% end %>

        <%= link_to "products?cat=lifestyle" do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/lifestyle.jpg") %>')">
                Lifestyle
            </div>
        <% end %>
      </div>
    </div>

  <div class="container category-cards-middle">
    <div class="title-categories">
      <span class="title-aligned">top creators</span>
    </div>
    <div class="card-5-creators">
      <div class="row profiles-in-middle">
        <% @top_creators.each do |user|  %>
          <%= link_to "#{user.store_url}" do %>
              <div class="profile-user-card-discover profile-headline">
                <!-- <h3> <span class="profile-headline-highlight"> creator </span></h3> -->
                <%= cl_image_tag user.photo, width: 200, height: 200, crop: :fill, class: "profile-about-avatar" %>
                <h3>
                  <span class="profile-headline-highlight-discover"><%= user.first_name %></span></br>
                  <span class="profile-headline-highlight-discover"><%= user.last_name %></span>
                  <div class="adding-margin-creators">
                      <span><%= user.creator_type %></span>
                  </div>
                </h3>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container pb-5 category-cards-middle">
    <div class="title-categories">
      <span class="title-aligned" >top products</span>
      <p class="pb-1"></p>
    </div>
    <div class="card-5-creators">
      <div class="row">
        <% @top_5_products.each do |product| %>
        <div class="col-3 hiive-card-container-discover">

          <div class="hiive-card">

          <div class="hiive-card-photo-discover" style="background-image: url(<%= product.photo %>)">
          </div>

          <div class="hiive-card-content">
          <p class="hiive-card-title"><%= product.title.truncate(67)%></p>
          <div class="d-flex justify-content-between">

          <% if product.user != current_user%>
          <div class="like-button-<%= product.id %>">

            <% if product.likes.where(user: current_user).empty? %>

              <%= render partial: "likes/like", locals: {
                product: product
              } %>

            <% else %>
              <%= render partial: "likes/unlike", locals: {
                product: product,
                like: product.likes.find_by_user_id(current_user.id)
              } %>
            <% end %>
          </div>
          <% else %>
            <div></div>
          <% end %>
          <p class="hiive-card-price"><%= product.price == '' ? 'currently unavailable' : product.price %></p>
          </div>
          </div>
          </div>
            <%= button_to "buy", product.referal_link, :formtarget => "_blank", class: 'col-6 hiive-card-btn hiive-card-btn-left' %>
            <%= button_to "more info", product_path(product), method: :get, class: 'col-6 hiive-card-btn hiive-card-btn-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
