<div class=" nav-padding allpage">
  <div class=" container category-cards-middle">
    <div class="title-categories">
        <h1 class="title-aligned">Top 5 Categories: </h1>
    </div>
    <div class="cards display-of-cards">
        <%= link_to  params.merge(cat: "Photography").permit(:cat, :querry) do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/photography-category.jpg") %>')">
                Photography
            </div>
        <% end %>

        <%= link_to params.merge(cat: "tools").permit(:cat, :query) do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/Tools-category-picture.jpg") %>')">
                Tools
            </div>
        <% end %>

        <%= link_to params.merge(cat: "cycling").permit(:cat, :querry) do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/cycling-category.jpg") %>')">
                Cycling
            </div>
        <% end %>

        <%= link_to params.merge(cat: "running").permit(:cat, :querry) do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/running-category.jpg") %>')">
                Running
            </div>
        <% end %>

        <%= link_to params.merge(cat: "music").permit(:cat, :querry) do %>
            <div class="card-category-discover-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/instrument-category.jpg") %>')">
                Music
            </div>
        <% end %>
      </div>
    </div>


  <div class=" allpage">
    <h1>Top 5 creators</h1>
    <div class=" ml mb flexed">
      <div class="row">
        <% @all_likes.each do |user|  %>
        <div class="col">
          <div class="new-card mr wrappeer roundcorner">
            <%= cl_image_tag user.photo, width: 200, height: 200, crop: :fill, class: 'images-prod' %>
            <p class="wrappeer"> <%= user.first_name %>
              <%= user.last_name %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <h1>Top 5 products</h1>
    <div class=" mb flexed">
      <div class="row">
        <% @top_5_products.each do |product| %>
        <div class="col">
          <div class="new-card mr wrappeer roundcorner">
            <%= cl_image_tag product.photo, width: 200, height: 200, crop: :fill, class: 'images-prod' %>
            <p class="wrappeer"><%= product.title %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <h1>3 newest creators</h1>
    <div class="mb flexed ml-creator">
      <div class="row">
        <% @newest_creators.each do |creator|%>
        <div class="col ">
          <div class="new-card mr wrappeer roundcorner">
            <%= cl_image_tag creator.photo, width: 200, height: 200, crop: :fill, class: 'images-prod' %>
            <p> <%= creator.first_name %>
              <%= creator.last_name %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>


    <h2>5 Random products</h2>
    <div class="mb flexed">
      <div class="row">
        <%  @random_products.each do |product| %>
        <div class="col">
          <div class="new-card mr wrappeer roundcorner">
            <%= cl_image_tag product.photo, width: 200, height: 200, crop: :fill, class: 'images-prod' %>
            <p> <%= product.title %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>