<div class="container nav-padding" id="browse-page">
    <form novalidate="novalidate" class="simple_form search" action="/products" accept-charset="UTF-8" method="get"><input id="myFilter"
            name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
            <%= form_tag product_path(:id), method: :get do %>
                <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "🔎Type to anything that comes to mind"
                %>
            <% end %>
            <button name="button" type="submit" class="link-input-btn" style="width: 100%">
                <i class="fas fa-search"></i> Search
            </button>
        </div>
    </form>


    <div class="cards">
        <%= link_to  params.merge(cat: "Photography").permit(:cat, :querry) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/photography-category.jpg") %>')">
                Photography
            </div>
        <% end %>

        <%= link_to params.merge(cat: "tools").permit(:cat, :query) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/Tools-category-picture.jpg") %>')">
                Tools
            </div>
        <% end %>

        <%= link_to params.merge(cat: "cycling").permit(:cat, :querry) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/cycling-category.jpg") %>')">
                Cycling
            </div>
        <% end %>
    </div>


    <div class="display-grid-all-products-show" id="myItems">
        <% @products.each do |product| %>
        <div class="card-product p-show" >
            <%= link_to product_path(product) do %>
            <div class="btn-hoover"> </div>
            <div class="images-prod" style="background-image: url(<%= product.photo %>)">
            </div>
            <p hidden class="lookup"><%= product.brand + product.price + product.seller + product.description + product.user.first_name + product.user.last_name %></p>
            <% end %>
            <p class="description-show"> Recomended by: <%= product.user.first_name %></p>
            <%= cl_image_tag product.user.photo, width: 50, height: 50, crop: :fill, class: '.images-prod avatar-for-show-product' %>

        </div>


        <% end %>

    </div>

</div>

1
