<div class="container nav-padding" id="browse-page">

  <form novalidate="novalidate" class="" action="/products" accept-charset="UTF-8" method="get"><input id=""
            name="utf8" type="hidden" value="&#x2713;" />

        <div class="search-div">
            <%= form_tag product_path(:id), method: :get do %>
                <%= text_field_tag :query,
                params[:query],
                class: "search-bar",
                placeholder: ""
                %>
            <% end %>
            <button name="button" type="submit" class="search-btn">
                <i class="fas fa-search"></i>&nbsp search products
            </button>
        </div>
    </form>


    <div class="cards">
        <%= link_to  params.merge(cat: "Photography").permit(:cat, :querry) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/photography-category.jpg") %>')">
                Photography
            </div>
        <% end %>

        <%= link_to params.merge(cat: "tools").permit(:cat, :query) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/Tools-category-picture.jpg") %>')">
                Tools
            </div>
        <% end %>

        <%= link_to params.merge(cat: "cycling").permit(:cat, :querry) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/cycling-category.jpg") %>')">
                Cycling
            </div>
        <% end %>

        <%= link_to params.merge(cat: "running").permit(:cat, :querry) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/running-category.jpg") %>')">
                Running
            </div>
        <% end %>

        <%= link_to params.merge(cat: "music").permit(:cat, :querry) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("category-pictures/instrument-category.jpg") %>')">
                Music
            </div>
        <% end %>
    </div>


    <div class="display-grid-all-products-show" id="myItems">
        <% @products.each do |product| %>
        <div class="card-product p-show" >
            <%= link_to product_path(product) do %>
            <div class="btn-hoover"> </div>
            <div class="images-prod" style="background-image: url(<%= product.photo %>)">
            </div>
            <p hidden class="lookup"><%= product.brand + product.price + product.seller + product.description + product.user.first_name + product.user.last_name %></p>
            <% end %>
            <div class="position-relative">
              <p class="description-show one-line"><%= product.title %></p>
              <% if product.category %>
                <p class="description-show category-badge"><%= product.category.capitalize %></p>
              <% end %>
              <%#= cl_image_tag product.user.photo, width: 50, height: 50, crop: :fill, class: ' avatar-for-show-product' %>
            </div>
        </div>


        <% end %>

    </div>

</div>

1
