<div class="container nav-padding" id="browse-page">

  <div class="">
    <h1 class="search-headline">
    browse products used the<br>
    <span class="search-headline-highlight"> world's best creators</span>
  </h1>
  </div>

  <form novalidate="novalidate" class="" action="/products" accept-charset="UTF-8" method="get"><input id=""
            name="utf8" type="hidden" value="&#x2713;" />

        <div class="search-div">
            <%= form_tag product_path(:id), method: :get do %>
                <%= text_field_tag :query,
                params[:query],
                class: "search-bar",
                placeholder: ""
                %>
            <% end %>
            <button name="button" type="submit" class="search-btn">
                <i class="fas fa-search"></i> search
            </button>
        </div>
    </form>

    <div class="display-grid-all-products-show" id="myItems">
        <% @products.each do |product| %>
        <div class="card-product p-show" >
            <%= link_to product_path(product) do %>
            <div class="btn-hoover"> </div>
            <div class="images-prod" style="background-image: url(<%= product.photo %>)">
            </div>
            <p hidden class="lookup"><%= product.brand + product.price + product.seller + product.description + product.user.first_name + product.user.last_name %></p>
            <% end %>
            <div class="position-relative">
              <p class="description-show one-line"><%= product.title %></p>
              <% if product.category %>
                <p class="description-show category-badge"><%= product.category.capitalize %></p>
              <% end %>
              <%#= cl_image_tag product.user.photo, width: 50, height: 50, crop: :fill, class: ' avatar-for-show-product' %>
            </div>
        </div>


        <% end %>

    </div>

</div>

1
