
<div class="background-colors">
    <div class="container container-background">
        <div class="title-in-middle">
            <h1 class='product-title-public-profile'><strong><%= @product.title %></strong></h1>
        </div>
        <div class="text-aligned-with-photo">
            <%= cl_image_tag @product.photo, width: 400, height: 400, crop: :fill, class: 'images-public-profile' %>
            <p class="font-family "><strong>Description: </strong><%= @product.description %></p>
        </div>
        <div class="margin-product-information">
            <p class="font-family "><strong>Brand: </strong><%= @product.brand %></p>
            <p class="font-family "><strong>Product Seller: </strong><%= @product.seller %></p>
            <p class="font-family "><strong>Price: </strong><%= @product.price %>€</p>    
        </div>
        <div class="buy-button-in-middle">
            <%= button_to "Buy", @product.referal_link, class: 'btn btn-width-radius' %>
        </div>
    </div>
</div>